extends ../../layouts/default.pug

block content 
    h1 Products
    // card filter status
    .card
        .card-header
            h3.card-title Filter
        .card-body
            // 3 button filter All, Active, Inactive have class isActive?
            .btn-group#filter-status
                button.btn.btn-primary(type='button', value='') All
                button.btn.btn-primary(type='button', value='active') Active
                button.btn.btn-primary(type='button', value='inactive') Inactive
                    // form filter
            form#form-filter
                .form-group
                    label(for='status') Status
                    select.form-control(name='status')
                        option(value='') All
                        option(value='active') Active
                        option(value='inactive') Inactive
                button.btn.btn-primary(type='submit') Filter    
            // search
            form#form-search
                .form-group
                    label(for='search') Search
                    input.form-control(name='search', type='text')
                button.btn.btn-primary(type='submit') Search
    // card list products
    .card
        .card-header
            h3.card-title List Products
        .card-body

            table.table.table-hover.table-sm
                thead
                    tr
                        th STT
                        th Name
                        th Thumbnail
                        th Price
                        th Discount
                        th Status
                        th Actions
                tbody
                    each product,index in products
                        tr
                            // STT
                            td= index + 1
                            td= product.title
                            // Thumbnail
                            td
                                img(src=`${product.thumbnail}`, alt=`${product.title}`, width='100')
                            td= product.price
                            td= product.discount
                            td 
                                if(product.status)
                                    .badge.badge-success Active
                                else
                                    .badge.badge-danger Inactive
                            td
                                a.btn.btn-primary(href=`${prefixAdmin}/products/${product.id}/edit`) Edit
                                a.btn.btn-danger(href=`${prefixAdmin}/products/${product.id}/delete`) Delete