extends ../../layouts/default.pug

block content 
    h1 Products
    table.table.table-hover.table-sm
        thead
            tr
                th STT
                th Name
                th Thumbnail
                th Price
                th Discount
                th Actions
        tbody
            each product,index in products
                tr
                    // STT
                    td= index + 1
                    td= product.title
                    // Thumbnail
                    td
                        img(src=`${product.thumbnail}`, alt=`${product.title}`, width='100')
                    td= product.price
                    td= product.discount
                    td
                        a.btn.btn-primary(href=`${prefixAdmin}/products/${product.id}/edit`) Edit
                        a.btn.btn-danger(href=`${prefixAdmin}/products/${product.id}/delete`) Delete