extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-status.pug
block content 
    h1 Products
    // card filter status
    .card
        .card-header
            h3.card-title Filter
        .card-body
            // 3 button filter All, Active, Inactive have class isActive?
            +filter-status(filterStatus)
            // form filter
            form#form-filter
                .form-group
                    label(for='status') Status
                    select.form-control(name='status')
                        option(value='') All
                        option(value='active') Active
                        option(value='inactive') Inactive
                button.btn.btn-primary(type='submit') Filter    
            // search
            +search (searchInput)
    // card list products
    .card
        .card-header
            h3.card-title List Products
        .card-body
            +form-change-status(`${prefixAdmin}/products/change-multiple-status?_method=PATCH`)
            table.table.table-hover.table-sm
                thead
                    tr  
                        th 
                            input(type='checkbox', id='check-all')
                        th STT
                        th Name
                        th Thumbnail
                        th Price
                        th Discount
                        th Status
                        th Actions
                tbody
                    each product,index in products
                        tr  
                            td
                                input(type='checkbox', class='check-item', name='check-item', value=`${product._id}`)
                            // STT
                            td= index + 1
                            td= product.title
                            // Thumbnail
                            td
                                img(src=`${product.thumbnail}`, alt=`${product.title}`, width='100')
                            td= product.price
                            td= product.discount
                            td 
                               a(
                                    href="javascript:;"
                                    button-change-status
                                    data-status=`${product.status ? 'true' : 'false'}`
                                    data-id=product._id
                                    class=`badge ${product.status ? 'badge-success' : 'badge-danger'}`
                                ) #{product.status ? 'Active' : 'Inactive'}

                            td
                                a.btn.btn-primary(href=`${prefixAdmin}/products/${product.id}/edit`) Edit
                                a.btn.btn-danger(href=`${prefixAdmin}/products/${product.id}/delete`) Delete
    
    +pagination(pagination)

    form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`${prefixAdmin}/products/change-status`
    )

