mixin form-change-multi(path)
    form#form-change-multi(
        action=path
        method="POST"
    )
        select#status-select(name="statusChange")
            option(disable selected) Select status
            option(value='active') Active
            option(value='inactive') Inactive
            option(value='delete') Delete
            option(value='change-position') Change position
        input(
            name='ids'
            id='ids'
            value=''
        )
        button.btn.btn-primary(type = 'submit') Change